<div ng-controller="View1Ctrl as ctrl">

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Opties</div>
        <div class="panel-body">
          <p>
            Zoeken:<br>
            <input ng-model="ctrl.query" class="form-control input-sm"/>
          </p>
          <p>
            Categorie:<br>
            <select ng-model="ctrl.cat" class="form-control input-sm">
                <option ng-repeat="cat in ctrl.categories">{{cat.title}}</option>
              </select>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">Recepten</div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <th>Naam</th>
              <th>Bereidingstijd</th>
              <th>Categorie</th>
            </thead>
            <tbody>
              <tr ng-repeat="recipe in ctrl.recipes | filter:ctrl.query  | filter:ctrl.cat">
                <td><a href="#!/detail/{{recipe.id}}">{{recipe.name}}</a></td>
                <td>{{recipe.time}}</td>
                <td>{{recipe.category.title}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>