<div ng-controller="View2Ctrl as ctrl">

  <div class="row">

    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ctrl.detail.name}}</div>
        <div class="panel-body">
          {{ctrl.detail.steps}}
          <br><br>
          <strong>Bereidingstijd: </strong>{{ctrl.detail.time}}<br>
          <strong>Categorie: </strong>{{ctrl.detail.category.title}}
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-body">
          <a href="#!/view1"><button type="submit" class="btn btn-success">Terug naar overzicht</button></a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Ingredienten</div>
        <div class="panel-body">
          <ul class="ingredients">
            <li ng-repeat="ingredient in ctrl.ingredients">
              <p>{{ingredient}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>